//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;

//accent colors
$accent-dark: #23366f;
$accent: #2167ae;
$accent-light: #BFDBF7;
$text-color: #58595e;
$text-light: #fadce6;
$contrast: white;
$third: #1f7a8c;
$text-accent: #022b3a;
